<p id="notice"><%= notice %></p>

<%= render partial: 'user_header' %>
<%= link_to 'New Short Url', new_short_url_path %>

<h1>Dashboard</h1>

<h3>Redirection Statistics</h3>

<%= link_to @short_url.link, @short_url.link, target: :_blank %>
=>
<%= link_to @short_url.full_short_link, @short_url.full_short_link, target: :_blank %>

<table>
  <thead>
    <tr>
      <th>User Info</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @short_url.redirections.each do |redirection| %>
      <tr>
        <td><%= redirection.user_info %></td>
        <td><%= redirection.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
